<div class="ngdialog-message">
    <div class="ngdialog-titlebar">
        <span class="ngdialog-title" id = "add-edit-credentials_dialog_title"><translate>Add Credential</translate></span>
    </div>
    <div class="ngdailog-body" >
      <form name="credentialsForm" ng-submit="addCredentials()" novalidate>
        <div id="add-credentials-dialog" class="modal-form-no-box-add">
            <header class="environment-header clearfix">
            </header>
            <div class="modal-form-no-box">
                <div class="control-group text">
                    <label for="id_display_name"><translate>Credential Name</translate></label>
                    <input type="text" name="display_name" id="id_display_name" ng-model="credential.name" required />
                </div>
                <div class="control-group text">
                    <label for="id_username"><translate>Username</translate></label>
                    <input type="text" name="username" id="id_username" ng-model="credential.username" required />
                </div>
                <div class="control-group text">
                    <label for="id_password"><translate>Password</translate></label>
                    <input type="password" name="password" id="id_password" ng-model="credential.password" />
                </div>
                <div class="control-group text">
                    <label for="id_credmgr_domain"><translate>Domain (Optional)</translate></label>
                    <input type="text" name="domain" id="id_credmgr_domain" />
                </div>
                <div class="control-group checkbox">
                    <label for="id_default">
                        <input type="checkbox" name="is_default" id="id_default" /><translate>Set as default</translate>
                    </label>
                </div>
               <div class="modal-form-no-box">
                    <div style="color:red" ng-show="credentialsForm.display_name.$invalid && !credentialsForm.display_name.$pristine" class="help-block">
                        * <translate>Credential name is required.</translate></div>
                    <div style="color:red" ng-show="credentialsForm.username.$invalid && !credentialsForm.username.$pristine" class="help-block">
                        * <translate>Username is required.</translate></div>
                </div>
            </div>
            <div id="dialog-errors"><p class="summary error"></p><ul id="dialog-error-list" class="errorlist"></ul></div>
        </div>
      </form>
    </div>
    <div class="ngdialog-footer">
         <button type="button" class="ngdialog-button" ng-click="addCredentials()"
                 ng-disabled="credentialsForm.$invalid"><translate>Save</translate></button>
         <button type="button" class="ngdialog-button" ng-click="closeThisDialog()"><translate>Cancel</translate></button>
    </div>
</div>
