<div class="ngdialog-message" ng-app = "credentials" ng-controller = "credentialControl">


    <div class="ngdialog-titlebar">
        <span class="ngdialog-title" id = "credentials_dialog_title"><translate>Manage Credentials</translate></span>
    </div>

    <div class="ngdailog-body" id="credentials-dialog" >
        <header class="environment-header clearfix">
            <section class="credentials" >
                <article class="credentials">
                    <div style="height:380px;">
                        <table class="credentials-table data-table sort-table">
                            <thead>
                                <tr>
                                    <th class="sortable" data-sort="string" data-sort-dir="desc" data-source="system_name"><translate>Appliance</translate><i class="sort-indicator"></i> </th>
                                    <th class="sortable" data-sort="string" data-source="display_name"><translate>Name</translate><i class="sort-indicator"></i> </th>
                                    <th class="sortable" data-sort="string" data-sort-dir="desc" data-source="username"><translate>Username</translate><i class="sort-indicator"></i> </th>
                                    <th class="sortable" data-sort="string" data-source="domain"><translate>Domain</translate><i class="sort-indicator"></i> </th>
                                </tr>
                            </thead>
                            <tbody></tbody>
                        </table>
                    </div>
                </article>
            </section>
        </header>
        <nav class="button-bar pull-left" style="margin-left: 10px;margin-top:20px;margin-bottom:5px;">
            <ul>
                <li>
                    <a class="credentials-add" ng-click="launchAddCredentials()">
                        <i class="icon-plussign icon-large"></i><translate>Add</translate>
                    </a>
                </li>
                <li>
                    <a class="credentials-edit"  ng-click="launchCredentialEditor()">
                        <i class="icon-edit icon-large"></i><translate>Edit</translate></a>
                </li>
                <li>
                    <a class="credentials-delete" ng-click="deleteCredential()">
                        <i class="icon-removecircle icon-large"></i><translate>Delete</translate></a>
                </li>
            </ul>
        </nav>
    </div>
    <div class="ngdialog-footer" style="width:97%;">
         <button type="button" class="ngdialog-button" ng-click="closeThisDialog()"><translate>Done</translate></button>
    </div>
</div>
