<div class="ngdialog-message" >
    <div class="ngdialog-titlebar">
        <span class="ngdialog-title"><translate>Tape and Changer Found</translate></span>
    </div>
    <div class="ngdailog-body" style="display:inline-flex;">
        <span class="icon-warningsign icon" style="width: 100%; font-size:1.2em;margin: 16px 5px 0;" ></span>
               
           
        <div class="control-group text">
            <label style="width: 100%;"> <translate>Both a tape drive and tape changer were found. You cannot use tape storage until the changer is associated with a drive.</translate></label><br>
            <label style="width: 100%;"><translate>Do you want to associate the changer with the tape drive now?</translate> </label>
            
        </div>       
        
    </div>
    <div class="ngdialog-footer">
        <button type="button" class="ngdialog-button" ng-click="checkforChanger()"><translate>Yes</translate></button>
        <button type="button" class="ngdialog-button" ng-click="closeThisDialog()"><translate>Cancel</translate></button>
    </div>
</div>